@import "~bulma/sass/utilities/_all";
$primary: hsl(242, 100%, 70%);
$primary-invert: findColorInvert($primary);

$info: hsl(337, 55%, 58%);
$info-invert: findColorInvert($info);

//$light: hsl(275, 20%, 83%);
//$light-invert: findColorInvert($light);

$link: hsl(242, 100%, 76%);
$link-invert: findColorInvert($link);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "link": ($link, $link-invert),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);
// The rest of Bulma
@import '~bulma';

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}